<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <header>
            Page Header
        </header>
            <h1>
                Codecial
            </h1>
        <footer>
            Page Footer
        </footer>
    </body>
</html>