<div class="jumbotron centered">
    <div class="container"> 
       
       <hr>
      <form action="/users/OtpPassWord" method="POST">
       
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <input type="text" name="otp" class="form-control" placeholder="otp" required>
        
       
        <input class="btn btn-dark btn-lg" type="submit" value="Get Otp">
    </form>
    
    </div>
  </div>